https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
sklearn
scipy
nltk
pandas==0.25.3
textblob
vaderSentiment
gensim
bs4
pytorch-pretrained-bert
transformers